@charset "UTF-8";

/*@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";*/

@font-face {
  font-family: 'Circe';
  src: url("/fonts/Circe-Regular.eot");
  src: local("Circe"), local("Circe-Regular"), url("/fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Circe-Regular.woff") format("woff"), url("/fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("/fonts/Circe-ExtraLight.eot");
  src: local("Circe ExtraLight"), local("Circe-ExtraLight"), url("/fonts/Circe-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/Circe-ExtraLight.woff") format("woff"), url("/fonts/Circe-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("/fonts/Circe-Thin.eot");
  src: local("Circe Thin"), local("Circe-Thin"), url("/fonts/Circe-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Circe-Thin.woff") format("woff"), url("/fonts/Circe-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("/fonts/Circe-Light.eot");
  src: local("Circe Light"), local("Circe-Light"), url("/fonts/Circe-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Circe-Light.woff") format("woff"), url("/fonts/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("/fonts/Circe-Bold.eot");
  src: local("Circe Bold"), local("Circe-Bold"), url("/fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Circe-Bold.woff") format("woff"), url("/fonts/Circe-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("/fonts/Circe-ExtraBold.eot");
  src: local("Circe ExtraBold"), local("Circe-ExtraBold"), url("/fonts/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/Circe-ExtraBold.woff") format("woff"), url("/fonts/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

html {
  height: 101%;
}

/* always display scrollbars */

body {
  font-size: 62.5%;
  line-height: 1;
  font-family: Circe, Arial, Tahoma, Verdana, sans-serif;
  color: #21303d;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #21303d;
}

a:hover {
  text-decoration: underline;
}

img {
  object-fit: cover;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

.show {
  display: block;
}

.hide {
  display: none !important;
}

.d-flex {
  display: flex;
}

ul {
  list-style: none;
}

.container {
  max-width: 1580px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.noscroll {
  overflow: hidden;
}

.bg_blue {
  background-color: #21303d;
}

.bg_pink {
  background-color: #e5b3af;
}

.bg_violent {
  background-color: #aca8c3;
}

.clr_blue {
  color: #21303d;
}

.clr_pink {
  color: #e5b3af;
}

.clr_violent {
  color: #aca8c3;
}

.h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 32px;
}

.h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
}

.h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.btn {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.btn:hover {
  text-decoration: none;
}

.btn.bg_blue {
  color: white;
}

.btn.bg_pink {
  color: #21303d;
}

.btn.bg_blue:hover {
  background-color: #384551;
}

.btn.bg_pink:hover {
  background-color: #f3c8cd;
}

.p {
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
}

.main__specials {
  background-color: #f3f4f9;
}

.header__row {
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.header__logo {
  width: 160px;
}

.header__icons {
  margin-right: 17px;
  align-items: center;
  margin-left: 43px;
}

.header__icons-img {
  width: 18px;
  height: 18px;
  margin-left: 26px;
  transition: .3s;
}

.header__icons-img:hover {
  opacity: .7;
}

.header__icons-img.inst {
  width: 21px;
  height: 21px;
  margin-left: 0px;
}

.header__link {
  padding: 40px 31px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  display: flex;
}

.header__link:hover {
  text-decoration: none;
}

.header__link:hover:after {
  z-index: 10;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px;
  height: 1px;
  width: 100%;
  background-color: #21303d;
  transform: translate(-50%, 0);
}

.header__icons-split {
  margin: 0 2px 0 33px;
  height: 30px;
  width: 1px;
  background-color: #949494;
}

.header__burger {
  display: none;
  height: 19px;
  width: 24px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.header__burger-line {
  height: 3px;
  width: 24px;
  border-radius: 3px;
  background-color: #3c3c3c;
  position: absolute;
  transition: .5s;
}

.header__burger-line:first-child {
  left: 0px;
  top: 0px;
}

.header__burger-line:nth-child(2) {
  left: 0px;
  top: 50%;
  transform: translate(0, -50%);
}

.header__burger-line:last-child {
  left: 0px;
  bottom: 0px;
}

.header__burger.active .header__burger-line:first-child {
  transform: rotate(405deg);
  top: 8px;
}

.header__burger.active .header__burger-line:nth-child(2) {
  display: none;
}

.header__burger.active .header__burger-line:last-child {
  transform: rotate(-45deg);
  bottom: 8px;
}

.header__menu-item_with-child:hover .dropdown {
  height: 451px;
  border-top: 1px solid #d9d8de;
}

.dropdown {
  height: 0px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 90px;
  transition: height .4s ease-out;
  background-color: white;
  z-index: 10;
  border-top: 1px solid transparent;
}

.dropdown__container {
  max-width: 1300px;
  padding: 30px 20px 40px;
  display: flex;
  margin: 0 auto;
}

.dropdown__menu-container {
  max-width: 777px;
  width: 100%;
  justify-content: space-between;
}

.dropdown__wrapper {
  padding-top: 39px;
}

.dropdown__header {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  margin-bottom: 35px;
  display: flex;
  padding-right: 60px;
  align-items: center;
}

.dropdown__header:hover {
  text-decoration: none;
}

.dropdown__header:hover:after {
  right: -10px;
}

.dropdown__header::after {
  content: "";
  position: absolute;
  background-image: url(../img/sprites/sprite.svg#arrow_right-menu);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  right: 0px;
  transition: right .4s;
}

.dropdown__menu-item {
  margin-bottom: 21px;
}

.dropdown__menu-link {
  font-size: 14px;
}

.dropdown__banner {
  width: 320px;
  height: 380px;
  background-image: url(../img/menu-img.jpg);
  margin-left: auto;
  position: relative;
}

.dropdown__banner-link {
  font-size: 20px;
  color: white;
  position: absolute;
  font-weight: bold;
  padding-right: 40px;
  display: flex;
  align-items: center;
  bottom: 49px;
  left: 49px;
}

.dropdown__banner-link:hover {
  text-decoration: none;
}

.dropdown__banner-link-img {
  fill: white;
  height: 20px;
  width: 20px;
  margin-left: 12px;
}

.header__nav.active {
  height: calc(100vh - 70px);
  border-top: 1px solid #aca8c3;
  z-index: 10;
}

.dropdown__header.active {
  padding-left: 40px;
}

.dropdown__header.active::after {
  left: 0px;
  transform: rotate(180deg);
}

.dropdown__header.active + .dropdown__menu {
  display: block;
  padding-left: 67px;
}

.footer {
  border-top: 1px solid #f1f1f1;
}

.footer__content {
  justify-content: space-between;
  padding: 88px 0 55px;
}

.footer__right {
  text-align: right;
}

.footer__right-header {
  font-size: 20px;
  font-weight: bold;
  color: #21303d;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 18px;
}

.footer__right-header-img {
  width: 20px;
  height: 15px;
  fill: #21303d;
  margin-right: 20px;
}

.footer__right-text {
  font-size: 16px;
  line-height: 18px;
  color: #949494;
  margin-bottom: 24px;
}

.footer__menu {
  max-width: 856px;
  width: 100%;
  justify-content: space-between;
}

.footer__menu-header {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 38px;
}

.footer__menu-item {
  margin-bottom: 16px;
}

.footer__menu-link {
  font-size: 14px;
  color: #949494;
}

.footer__menu-link_offer {
  position: relative;
  display: flex;
  align-items: center;
}

.footer__menu-link_offer::after {
  content: "";
  background-image: url(../img/sprites/sprite.svg#tag_fill);
  width: 11px;
  height: 11px;
  margin-left: 8px;
}

.footer__cards {
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 34px;
}

.footer__cards-img {
  margin-left: 15px;
}

.footer__right-form {
  align-items: center;
  position: relative;
}

.footer__right-form-imput {
  border: none;
  background-color: #f0f0f0;
  font-size: 18px;
  padding: 21px 40px;
  width: 300px;
}

.footer__right-form-imput::placeholder {
  color: #aca8c3;
}

.footer__right-form-btn {
  border: none;
  background-color: transparent;
  height: 62px;
  width: 90px;
  outline: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 0px;
}

.footer__right-form-btn:hover .footer__right-form-btn-img {
  margin-left: 10px;
}

.footer__right-form-btn-img {
  width: 20px;
  height: 10px;
  transition: .3s;
}

.footer__logo {
  width: 132px;
}

.footer__split {
  height: 40px;
  width: 1px;
  background-color: #aca8c3;
  margin: 0 24px 0 45px;
}

.footer__inst {
  fill: #ced1d8;
  height: 20px;
  width: 20px;
  transition: .3s;
}

.footer__inst:hover {
  opacity: .7;
}

.footer__policy {
  color: #aca8c3;
  font-size: 12px;
  text-decoration: underline;
}

.footer__adwin {
  color: #aca8c3;
  font-size: 12px;
  align-items: center;
}

.footer__adwin-img {
  margin-left: 22px;
}

.footer__adwin:hover {
  text-decoration: none;
}

.footer__bottom {
  background-color: #21303d;
  border-top: 1px solid #979ea4;
  height: 100px;
}

.footer__bottom-container {
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.footer__bottom-left {
  align-items: center;
}

.discount__content {
  max-width: 667px;
  margin: 0 auto;
  width: 100%;
}

.discount__top {
  font-size: 40px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 10px;
}

.discount__bottom {
  font-size: 40px;
  font-weight: 700;
  text-align: right;
}

.main-banner {
  width: 1700px;
  max-width: 100%;
  background-image: url(../img/main-banner.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  margin: 0 auto;
  background-size: cover;
  /*&:before{
        content:"";
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }*/
}

.main-banner__container {
  padding: 136px 140px 59px 140px;
}

.main-banner__header {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 35px;
}

.main-banner__text {
  font-size: 18px;
}

.main-banner__link {
  font-size: 18px;
  font-weight: bold;
  padding-left: 28px;
  margin-top: 142px;
  display: flex;
  position: relative;
  align-items: center;
}

.main-banner__link:before {
  content: "";
  background-image: url(../img/sprites/sprite.svg#arrow_down);
  height: 46px;
  width: 30px;
  position: absolute;
  left: -6px;
  background-position: center;
  background-repeat: no-repeat;
}

.main-banner__link:hover {
  text-decoration: none;
}

.main-catalog__container {
  padding-top: 73px;
  padding-bottom: 90px;
}

.main-catalog__list {
  max-width: 1420px;
  justify-content: space-between;
  margin: 0 auto;
}

.main-catalog__list-item {
  width: 460px;
  height: 300px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.main-catalog__list-item:hover .main-catalog__item-img {
  height: 110%;
  width: 110%;
}

.main-catalog__item-btn {
  position: absolute;
  right: 30px;
  bottom: 28px;
  padding: 19px 42px;
}

.main-catalog__item-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: .3s;
}

.main-specials {
  background-color: #f8f8f8;
  padding-top: 123px;
  padding-bottom: 78px;
  margin-top: 104px;
}

.main-specials__h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 63px;
}

.main-specials__list {
  flex-wrap: wrap;
  max-width: 1240px;
  margin: 0 auto;
  justify-content: space-between;
}

.main-specials__item {
  background-color: white;
  width: 380px;
  height: 450px;
  max-width: 100%;
  margin-bottom: 51px;
  position: relative;
}

.main-specials__item:last-child .main-specials__bottom,
.main-specials__item:last-child .main-specials__labels {
  display: none;
}

.main-specials__item:last-child .main-specials__all-btn {
  display: block;
}

.main-specials__item:last-child .main-specials__img-container {
  height: 100%;
  padding: 0px;
}

.main-specials__item:last-child .main-specials__img {
  filter: blur(10px);
}

.main-specials__item:last-child .main-specials__img-link {
  pointer-events: none;
}

.main-specials__img-container {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 295px;
}

.main-specials__labels {
  position: absolute;
  top: 27px;
  right: 46px;
}

.main-specials__img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.main-specials__labels-img {
  width: 12px;
  height: 12px;
  padding: 12px;
  border-radius: 50%;
  fill: #21303d;
  background-color: #d3e1ea;
}

.main-specials__labels-item {
  margin-bottom: 7px;
}

.main-specials__bottom {
  padding: 0 47px 0 43px;
}

.main-specials__category {
  font-size: 13px;
  margin-bottom: 3px;
}

.main-specials__title {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  height: 42px;
}

.main-specials__quantity {
  height: 45px;
  align-items: center;
  justify-content: space-between;
  width: 118px;
  display: none;
}

.main-specials__cuont-btn {
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 16px;
  font-weight: 300;
}

.main-specials__count {
  background: none;
  border: none;
  width: 30px;
  font-size: 18px;
  font-weight: bold;
  padding: 0px;
  text-align: center;
}

.main-specials__price {
  font-size: 15px;
  font-weight: bold;
  margin-right: 20px;
}

.main-specials__old-price {
  font-size: 15px;
  text-decoration: line-through;
  font-weight: 300;
}

.main-specials__row {
  justify-content: space-between;
  align-items: center;
}

.main-specials__cart {
  border: none;
  width: 101px;
  height: 45px;
  border-radius: 22px;
  justify-content: space-around;
  align-items: center;
}

.main-specials__cart-img {
  fill: white;
  width: 20px;
  height: 20px;
}

.main-specials__all-btn {
  display: none;
  border: none;
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
  top: 215px;
  padding: 19px 48px;
  white-space: nowrap;
  background-color: #e9b0b7;
}

.main-specials__all-btn span {
  white-space: nowrap;
}

.brands {
  padding-top: 134px;
  padding-bottom: 50px;
}

.brands__list {
  margin: 0 auto;
  max-width: 1152px;
  justify-content: space-between;
}

.brands__item img {
  max-height: 82px;
  max-width: 241px;
}

.brands__img {
  object-fit: contain;
}

.why {
  padding-bottom: 112px;
  padding-top: 149px;
}

.why__content {
  max-width: 1420px;
  margin: 0 auto;
}

.why__pic {
  position: relative;
}

.why__pic::after {
  content: "";
  width: 666px;
  height: 465px;
  background-color: transparent;
  border: 3px solid #21303d;
  left: 60px;
  bottom: 67px;
  position: absolute;
}

.why__img {
  object-fit: cover;
  max-height: 100%;
}

.why__text {
  margin-left: auto;
  padding-right: 139px;
  margin-top: 36px;
}

.why__item {
  align-items: center;
  margin-bottom: 33px;
}

.why__header {
  font-size: 40px;
  margin-bottom: 84px;
}

.why__item-img {
  max-width: 63px;
  max-height: 61px;
  object-fit: contain;
}

.why__item-text {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  margin-left: 55px;
}

.cat-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cat-banner.specials-banner {
  margin-bottom: 77px;
}

.cat-banner__container {
  position: relative;
  padding-top: 209px;
  padding-bottom: 59px;
}

.cat-banner__header {
  color: white;
}

.banner-sale {
  position: absolute;
  right: 86px;
  top: 69px;
}

.range-input {
  border: none;
  color: #aca8c3;
  background-color: #f0f0f0;
  font-size: 14px;
  height: 40px;
  width: 60px;
  padding: 0 10px;
  position: relative;
}

.range-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.form-range .noUi-target {
  border: none;
  background-color: #dfdfdf;
  height: 2px;
  padding-right: 16px;
}

.form-range .noUi-connect {
  background-color: #aca8c3;
}

.form-range .noUi-horizontal .noUi-handle {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 3px solid #e9b0b7;
  right: -15px;
  top: -8px;
}

.form-range .noUi-handle:after,
.form-range .noUi-handle:before {
  display: none;
}

.form-radio {
  margin-top: 20px;
  margin-bottom: 20px;
}

.radio {
  display: none;
}

.radio + label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
  font-size: 14px;
}

.radio + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #21303d;
  border-radius: 50%;
  background: #FFF;
}

.radio + label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #21303d;
  opacity: 0;
  transition: .2s;
}

.radio:checked + label:before {
  background: #e5b3af;
}

.radio:checked + label:after {
  opacity: 1;
}

.radio:checked + label {
  font-weight: bold;
}

.checkbox {
  display: none;
}

.checkbox + label {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
  font-size: 14px;
}

.checkbox + label:before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 19px;
  height: 19px;
  border-radius: 2px;
  background: #f3f4f9;
  transition: .2s;
  border: 1px solid #21303d;
}

.checkbox + label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 6px;
  width: 7px;
  height: 3px;
  border-bottom: 3px solid #21303d;
  border-left: 3px solid #21303d;
  transition: .2s;
  transform: rotate(-45deg);
  display: none;
}

.checkbox:checked + label:after {
  display: block;
}

.checkbox:focus + label:before {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 0 0 0 3px rgba(255, 255, 0, 0.7);
}

/*clothes checkbox*/

.cloth-checkbox__container {
  max-width: 200px;
}

.cloth-checkbox {
  display: none;
}

.cloth-checkbox + label {
  position: relative;
  cursor: pointer;
  font-size: 13px;
  width: 48px;
  border-radius: 2px;
  border: 2px solid #d6daeb;
  display: inline-block;
  padding: 7px 0px;
  text-align: center;
  margin-right: 13px;
  margin-bottom: 8px;
}

.cloth-checkbox:checked + label {
  border-color: #c3c3c3;
}

.cloth-checkbox__header {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 13px;
}

.color-checkbox__header {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 18px;
}

/*color check*/

.color-checkbox {
  display: none;
}

.color-checkbox + label {
  position: relative;
  padding: 0;
  cursor: pointer;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 6px;
}

.color-checkbox:checked + label {
  border-color: #d6daeb;
}

.hidden-select {
  display: none;
}

.form-select {
  position: relative;
}

.form-select__selected {
  font-weight: bold;
  font-size: 14px;
  color: #21303d;
  padding: 10px 18px;
  display: block;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #21303d;
}

.form-select__selected.active:after {
  transform: rotate(180deg);
}

.form-select__selected:after {
  content: "";
  position: absolute;
  background-image: url(../img/sprites/sprite.svg#drop);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  right: 16px;
  width: 12px;
  height: 12px;
  transition: .2s;
}

.form-select-list {
  background-color: #21303d;
  height: 0px;
  overflow: hidden;
  transition: .4s;
  padding: 0 5px;
  position: absolute;
  z-index: 100;
  left: 0px;
  height: 0px;
  width: calc(100% - 10px);
  opacity: 0;
}

.form-select-list.active {
  height: auto;
  padding: 19px 5px;
  opacity: 1;
}

.form-select__option {
  font-weight: bold;
  font-size: 14px;
  color: white;
  cursor: pointer;
  padding: 14px 25px;
}

.form-select__option:hover {
  background-color: #384551;
}

.goods {
  padding-top: 75px;
  padding-bottom: 70px;
}

.goods__wrapper {
  align-items: flex-start;
}

.goods.cat1-goods {
  padding-top: 55px;
}

.goods .main-specials__list {
  margin-right: 0px;
  max-width: 1180px;
}

.goods .main-specials__item {
  margin-bottom: 19px;
}

.main-spashial__all-mob {
  display: none;
}

.filter {
  max-width: 220px;
  width: 100%;
  margin-right: 50px;
  background-color: #f9fafc;
  padding: 60px 60px 60px 60px;
}

.filter__category {
  margin-bottom: 48px;
}

.filter__category-img {
  max-width: 33px;
  max-height: 34px;
  object-fit: contain;
  margin-right: 16px;
  fill: #21303D;
}

.filter__category-header {
  font-size: 11px;
  font-weight: bold;
  color: #949494;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.filter__category-link {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
}

.filter__category-link:hover {
  text-decoration: none;
}

.filter__category-item {
  margin-bottom: 16px;
}

.filter__btn {
  display: none;
  max-width: 300px;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 13px 0;
  border-radius: 25px;
  margin-bottom: 26px;
}

.filter__btn-img {
  width: 20px;
  height: 24px;
  margin-right: 13px;
}

.sort {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.sort .form-select {
  width: 220px;
}

.form-filter__header {
  font-size: 11px;
  font-weight: bold;
  color: #949494;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.form-filter .form-select {
  margin-bottom: 21px;
}

.form-filter .form-range {
  margin-top: 34px;
  margin-bottom: 31px;
}

.filter__category-link_current {
  color: #aca8c3;
}

.filter__category-link_current svg {
  fill: #aca8c3;
}

.cat1__checkboxes {
  margin-top: 67px;
}

.filter__checkboxes .form-checkbox {
  margin-bottom: 24px;
}

.filter__checkboxes .form-checkbox:last-child {
  margin-bottom: 0;
}

.cat2__filter .filter__category-header {
  margin-bottom: 41px;
}

.cat2__filter .filter__category-item {
  margin-bottom: 26px;
}

.cat2__filter .filter__category {
  margin-bottom: 64px;
}

.cat2__filter .cloth-checkbox__container {
  padding-top: 10px;
  margin-bottom: 19px;
}

.cat2__filter .color-checkbox__container {
  margin-bottom: 46px;
}

.bottom-offers {
  background-color: white;
  padding-top: 92px;
  padding-bottom: 84px;
}

.bottom-offers.bottom-offers_cat1 {
  padding-top: 59px;
  padding-bottom: 53px;
}

.bottom-offers__list {
  justify-content: space-between;
  max-width: 1260px;
  margin: 0 auto;
}

.bottom-offers__item {
  position: relative;
}

.bottom-offers__item:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.bottom-offers__text {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: white;
  bottom: 51px;
  left: 59px;
}

.bottom-offers__btn {
  position: absolute;
  bottom: 35px;
  right: 58px;
  padding: 19px 46px;
}

.bottom-offers__img {
  height: 100%;
  width: 100%;
}

/*! nouislider - 14.6.3 - 11/19/2020 */

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

.noUi-connect {
  height: 100%;
  width: 100%;
}

.noUi-origin {
  height: 10%;
  width: 10%;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

.noUi-vertical .noUi-origin {
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform .3s;
  transition: transform .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: #3FB8AF;
}

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB;
}

.noUi-active {
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB;
}

.noUi-handle:after,
.noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled] .noUi-handle,
[disabled].noUi-handle,
[disabled].noUi-target {
  cursor: not-allowed;
}

.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-sub {
  background: #AAA;
}

.noUi-marker-large {
  background: #AAA;
}

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

.subcat-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 53px;
}

.subcat-banner__prev-img {
  transform: rotate(180deg);
  fill: white;
  height: 12px;
  width: 12px;
  padding: 14px;
  border-radius: 50%;
  background-color: #21303d33;
  margin-right: 32px;
}

.subcat-banner__container {
  position: relative;
  padding-top: 205px;
  padding-bottom: 50px;
}

.subcat-banner__header {
  color: white;
  display: flex;
  align-items: center;
}

.banner-sale {
  position: absolute;
  right: 86px;
  top: 69px;
}

.pagination {
  justify-content: center;
  padding-top: 33px;
  margin-bottom: -16px;
}

.pagination__item {
  margin: 0px 8px;
}

.pagination__link {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.pagination__link:hover {
  text-decoration: none;
}

.pagination__link.current {
  background-color: #e9b0b7;
}

.cat2-goods {
  padding-top: 29px;
}

.cat2-goods__container {
  align-items: flex-start;
  justify-content: space-between;
}

.cat2-goods__list {
  flex-wrap: wrap;
  max-width: 1180px;
  justify-content: space-between;
}

.cat2-goods__item {
  margin-bottom: 37px;
  height: 600px;
  width: 380px;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.cat2-goods__item:last-child .cat2-goods__all-btn {
  display: block;
}

.cat2-goods__item:last-child .cat2-goods__item-bottom,
.cat2-goods__item:last-child .cat2-goods__sizes,
.cat2-goods__item:last-child .cat2-goods__labels {
  display: none;
}

.cat2-goods__item:last-child .cat2-goods__item-top {
  height: 100%;
}

.cat2-goods__item:last-child .cat2-goods__img {
  filter: blur(10px);
}

.cat2-goods__item:last-child .cat2-goods__item-link {
  pointer-events: none;
}

.cat2-goods__item-top {
  height: 506px;
  position: relative;
}

.cat2-goods__item-top:hover .cat2-goods__sizes {
  height: 68px;
}

.cat2-goods__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.cat2-goods__labels-img {
  width: 13px;
  height: 13px;
  padding: 12px;
  border-radius: 50%;
  fill: #21303d;
  background-color: #d3e1ea;
}

.cat2-goods__labels {
  position: absolute;
  top: 35px;
  right: 20px;
}

.cat2-goods__sizes {
  position: absolute;
  bottom: 19px;
  background-color: #112c3b;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0 48px 0 45px;
  width: 313px;
  box-sizing: border-box;
  justify-content: space-between;
  height: 0px;
  align-items: center;
  transition: height .4s;
  overflow: hidden;
}

.cat2-goods__sizes-item {
  font-size: 14px;
  font-weight: bold;
  color: #3f525e;
  margin-top: 5px;
}

.cat2-goods__sizes-item.availible {
  color: #f3f4f9;
}

.cat2-goods__category {
  font-size: 13px;
  color: #aca8c3;
  font-weight: 500;
  margin-bottom: 5px;
}

.cat2-goods__item-bottom {
  padding: 14px 44px;
}

.cat2-goods__middle {
  justify-content: space-between;
  height: 30px;
}

.cat2-goods__title {
  font-size: 15px;
  font-weight: 700;
}

.cat2-goods__color-col {
  font-size: 13px;
  color: #949494;
  font-weight: 500;
}

.cat2-goods__price {
  font-size: 15px;
  font-weight: bold;
}

.cat2-goods__all-btn {
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
  top: 254px;
  padding: 19px 48px;
  white-space: nowrap;
  display: none;
  background-color: #e9b0b7;
}

.cat2-goods__all-mob {
  display: none;
}

.cat2-goods .pagination {
  margin-bottom: 59px;
}

/*потом удалить*/

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

@media screen and (max-width: 1600px) {
  .container {
    max-width: 1260px;
  }
}

@media (max-width: 1600px) {
  .header__icons {
    margin-right: 0px;
    margin-left: 19px;
  }

  .header__menu-item {
    margin: 40px 26px;
  }

  .footer__content {
    padding: 51px 0 50px;
  }

  .discount__top {
    font-size: 30px;
  }

  .discount__bottom {
    font-size: 30px;
  }

  .discount__content {
    max-width: 511px;
  }

  .main-banner__container {
    padding-left: 248px;
  }

  .main-catalog__list-item {
    width: 400px;
    height: 300px;
  }

  .main-catalog__container {
    padding-bottom: 82px;
  }

  .main-specials__h1 {
    font-size: 30px;
    margin-bottom: 46px;
  }

  .main-specials {
    margin-top: 63px;
    padding-top: 84px;
  }

  .main-specials__item {
    margin-bottom: 27px;
  }

  .brands {
    padding-top: 99px;
  }

  .why {
    padding-top: 123px;
    padding-bottom: 84px;
  }

  .why__pic {
    width: 573px;
    height: 415px;
  }

  .why__pic::after {
    width: 562px;
    height: 393px;
    left: 52px;
    bottom: 55px;
  }

  .why__header {
    font-size: 30px;
  }

  .why__text {
    padding-right: 133px;
    margin-top: 4px;
  }

  .why__item {
    margin-bottom: 31px;
  }

  .goods .main-specials__item {
    width: 300px;
    height: 355px;
  }

  .goods .main-specials__img-container {
    height: 214px;
  }

  .goods .main-specials__labels {
    right: 26px;
  }

  .goods .main-specials__bottom {
    padding: 0 27px 0 23px;
  }

  .goods.cat1-goods {
    padding-top: 28px;
  }

  .goods .main-specials__all-btn {
    top: 156px;
  }

  .filter {
    margin-right: 25px;
    padding: 45px 40px 45px 40px;
    max-width: 220px;
    margin-left: -10px;
  }

  .filter__category-img {
    max-height: 26px;
  }

  .bottom-offers {
    padding-top: 73px;
    padding-bottom: 78px;
  }

  .pagination {
    margin-bottom: 0px;
    padding-top: 18px;
  }

  .cat2-goods__item {
    height: 500px;
    width: 300px;
    margin-bottom: 20px;
  }

  .cat2-goods__item-top {
    height: 400px;
  }

  .cat2-goods__item-bottom {
    padding: 20px 19px;
  }

  .cat2-goods__sizes {
    padding: 0 28px 0 34px;
    width: 280px;
  }

  .cat2-goods__all-btn {
    top: 226px;
  }

  .cat2-goods .pagination {
    margin-bottom: 100px;
    padding-top: 10px;
  }

  .cat2__filter .filter__category-header {
    margin-bottom: 34px;
  }

  .cat2__filter .filter__category-item {
    margin-bottom: 21px;
  }

  .cat2__filter .color-checkbox__container {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 940px;
  }
}

@media (max-width: 1280px) {
  .h1 {
    font-size: 40px;
  }

  .h2 {
    font-size: 26px;
  }

  /*header*/

  .nav-container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 980px;
  }

  .header__menu-item_with-child:hover .dropdown {
    height: auto;
    border-top: none;
  }

  .header {
    position: relative;
  }

  .header__nav {
    height: 0px;
    overflow: hidden;
    position: absolute;
    top: 70px;
    left: 0px;
    width: 100%;
    transition: .4s linear;
    overflow: hidden;
    background-color: white;
    border-top: 1px solid white;
  }

  .header__row {
    height: 70px;
  }

  .header__menu-item {
    margin: 0px 0px;
  }

  .header__link {
    text-transform: none;
    font-size: 15px;
    padding: 0;
    margin-bottom: 24px;
  }

  .header__link:after {
    display: none;
  }

  .header__burger {
    display: flex;
  }

  .header__icons-img.inst,
  .header__icons-split {
    display: none;
  }

  .header__icons {
    margin-left: 0px;
  }

  .header__logo {
    width: 135px;
    margin-left: 59px;
  }

  .header__menu {
    flex-direction: column;
    padding-left: 45px;
  }

  .header__menu-item_with-child > a {
    display: none;
  }

  .dropdown {
    position: relative;
    height: auto;
    top: auto;
    margin-bottom: 48px;
    padding-top: 60px;
  }

  .dropdown__container {
    flex-direction: column;
    padding: 0;
  }

  .dropdown__menu-container {
    flex-direction: column;
  }

  .dropdown__wrapper {
    padding-top: 0px;
  }

  .dropdown__menu {
    display: none;
  }

  .dropdown__banner {
    height: auto;
    width: auto;
    background-image: none;
    margin-left: 0px;
  }

  .dropdown__banner-link {
    color: #21303d;
    bottom: auto;
    left: auto;
    position: relative;
    font-size: 16px;
    margin-top: 5px;
  }

  .dropdown__banner-link-img {
    display: none;
  }

  .dropdown__header {
    margin-bottom: 38px;
  }

  .dropdown__header::after {
    left: 173px;
  }

  /*/header*/

  /*header*/

  /*footer*/

  .footer__content {
    flex-direction: column;
    padding: 27px 60px 30px 20px;
  }

  .footer__menu {
    order: 2;
    max-width: 100%;
  }

  .footer__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 49px;
  }

  .footer__right-text {
    margin-bottom: 0px;
  }

  .footer__right-header {
    margin-bottom: 8px;
  }

  .footer__text {
    margin-right: 58px;
  }

  .footer__menu-header {
    margin-bottom: 28px;
  }

  .footer__cards {
    justify-content: center;
    padding-bottom: 14px;
  }

  .footer__bottom {
    height: 60px;
  }

  .footer__logo {
    width: 100px;
  }

  .footer__split {
    margin: 0 22px 0 26px;
  }

  /*end footer*/

  .main-banner__container {
    padding-left: 20px;
    padding-top: 101px;
    padding-right: 20px;
    padding-bottom: 71px;
  }

  .main-banner__header {
    line-height: 40px;
    margin-bottom: 41px;
  }

  .main-banner__link {
    margin-top: 118px;
  }

  .main-catalog__container {
    padding-top: 54px;
    padding-bottom: 65px;
  }

  .main-catalog__list-item {
    width: 300px;
  }

  .main-catalog__item-btn {
    right: 12px;
    bottom: 18px;
  }

  .main-specials__h1 {
    font-size: 26px;
  }

  .main-specials {
    padding-top: 96px;
  }

  .main-specials__item {
    width: 300px;
    height: 355px;
  }

  .main-specials__labels {
    right: 26px;
  }

  .main-specials__img-container {
    height: 214px;
  }

  .main-specials__bottom {
    padding: 0 27px 0 23px;
  }

  .main-specials__item {
    margin-bottom: 30px;
  }

  .main-specials__all-btn {
    top: 154px;
  }

  .brands {
    padding-top: 57px;
  }

  .brands__item img {
    max-height: 71px;
    max-width: 226px;
  }

  .why {
    padding-top: 86px;
    padding-bottom: 56px;
  }

  .why__pic {
    width: 454px;
    height: 307px;
    margin-top: 29px;
  }

  .why__pic::after {
    width: 415px;
    height: 290px;
    left: 39px;
    bottom: 40px;
  }

  .why__text {
    padding-right: 0px;
    margin-left: 74px;
  }

  .why__header {
    margin-bottom: 59px;
  }

  .why__item-text {
    font-size: 18px;
    line-height: 22px;
    margin-left: 49px;
  }

  .why__item {
    margin-bottom: 34px;
  }

  .cat-banner.specials-banner {
    margin-bottom: 50px;
  }

  .cat-banner__container {
    padding-top: 173px;
    padding-bottom: 46px;
  }

  .banner-sale {
    right: 20px;
    top: 62px;
    width: 478px;
  }

  .goods {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .goods.cat1-goods {
    padding-top: 37px;
  }

  .form-filter .form-range {
    margin-top: 21px;
    margin-bottom: 25px;
  }

  .cat1__checkboxes {
    margin-top: 57px;
  }

  .bottom-offers {
    padding-bottom: 35px;
    padding-top: 58px;
  }

  .bottom-offers__item {
    width: 460px;
    height: 283px;
  }

  .bottom-offers__btn {
    bottom: 29px;
    right: auto;
    left: 39px;
  }

  .bottom-offers__text {
    bottom: 104px;
    left: 39px;
  }

  .subcat-banner {
    margin-bottom: 50px;
  }

  .subcat-banner__container {
    padding-top: 173px;
    padding-bottom: 46px;
  }

  .banner-sale {
    right: 20px;
    top: 62px;
    width: 478px;
  }

  .subcat-banner__prev-img {
    padding: 10px;
    margin-right: 11px;
  }

  .subcat-banner__header {
    font-size: 33px;
  }

  .pagination {
    padding-top: 24px;
  }

  .cat2-goods .pagination {
    margin-bottom: 29px;
    padding-top: 44px;
  }
}

@media (max-width: 960px) {
  .main-catalog__list {
    flex-direction: column;
    max-width: 460px;
    margin: 0 auto;
  }

  .main-catalog__list-item {
    width: 460px;
    margin-bottom: 20px;
  }

  .main-specials__list {
    max-width: 610px;
  }

  .main-specials__item {
    margin-bottom: 10px;
  }

  .brands__list {
    max-width: 610px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .brands__item img {
    max-height: 82px;
    max-width: 241px;
  }

  .brands__item {
    margin-bottom: 43px;
  }

  .brands {
    padding-bottom: 0px;
  }

  .why__pic {
    display: none;
  }

  .why__text {
    margin: 0 auto;
  }

  .goods .main-specials__item {
    width: calc(33% - 10px);
    min-width: 160px;
    height: 330px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .goods .main-specials__img-container {
    height: 157px;
  }

  .goods .main-specials__labels {
    right: 10px;
    top: 10px;
  }

  .goods .main-specials__labels-img {
    padding: 9px;
  }

  .goods .main-specials__bottom {
    padding: 0 10px 0 10px;
  }

  .goods .main-specials__category {
    font-size: 12px;
  }

  .goods .main-specials__title {
    font-size: 12px;
    line-height: 14px;
    height: 55px;
  }

  .goods .main-specials__row {
    flex-wrap: wrap;
  }

  .goods .main-specials__cart {
    width: 100%;
  }

  .goods .main-specials__prices {
    margin-bottom: 10px;
  }

  .main-specials__price {
    font-size: 14px;
  }

  .main-specials__old-price {
    font-size: 14px;
  }

  .goods .main-specials__list {
    justify-content: flex-end;
  }

  .main-spashial__all-mob {
    display: block;
  }

  .main-spashial__all-desc {
    display: none;
  }

  .goods .main-specials__all-btn {
    top: 121px;
  }

  .goods .main-specials__quantity {
    margin: 0 auto;
  }

  .filter {
    margin-right: auto;
  }

  .bottom-offers__item {
    width: 320px;
    height: 197px;
  }

  .bottom-offers__list {
    max-width: 650px;
  }

  .bottom-offers__text {
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 119px;
    white-space: nowrap;
  }

  .bottom-offers__btn {
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 55px;
  }

  .cat2-goods__item {
    height: 330px;
    min-width: 160px;
    max-width: calc(33% - 10px);
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .cat2-goods__item-top {
    height: 235px;
  }

  .cat2-goods__list {
    justify-content: flex-end;
    margin-left: 10px;
  }

  .cat2-goods__item-bottom {
    padding: 15px 8px;
  }

  .cat2-goods__color-col {
    display: none;
  }

  .cat2-goods__middle {
    height: 36px;
  }

  .cat2-goods__labels {
    top: 18px;
    right: 13px;
  }

  .cat2-goods__labels-img {
    padding: 9px;
  }

  .cat2-goods__all-btn {
    top: 140px;
  }

  .cat2-goods__all-desc {
    display: none;
  }

  .cat2-goods__all-mob {
    display: block;
  }

  .cat2-goods .pagination {
    margin-bottom: 55px;
    padding-top: 0px;
  }
}

@media (max-width: 881px) {
  .footer__text {
    margin-right: 24px;
  }

  .footer__content {
    padding: 27px 0px 30px 0px;
  }
}

@media (max-width: 865px) {
  .goods .main-specials__item {
    width: calc(50% - 10px);
  }

  .banner-sale {
    max-width: 300px;
  }
}

@media (max-width: 850px) {
  .cat2-goods__item {
    max-width: calc(50% - 10px);
  }
}

@media (max-width: 768px) {
  .h1 {
    font-size: 28px;
  }

  .h2 {
    font-size: 18px;
  }

  /*header*/

  .header__logo {
    width: 98px;
    margin-left: 20px;
  }

  .header__row {
    justify-content: flex-start;
  }

  .header__icons {
    margin-left: auto;
  }

  /*footer*/

  .footer__content {
    padding-bottom: 13px;
  }

  .footer__right {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .footer__right-form {
    max-width: 320px;
  }

  .footer__text {
    max-width: 300px;
    margin-right: 0px;
    text-align: left;
  }

  .footer__right-header {
    font-size: 18px;
  }

  .footer__right-header-img {
    margin-right: 14px;
  }

  .footer__right-text {
    padding-left: 35px;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 12px;
  }

  .footer__right-form-imput {
    padding: 21px 15px;
  }

  .footer__right-form-btn {
    width: 48px;
  }

  .footer__menu {
    flex-wrap: wrap;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer__menu-col {
    max-width: 140px;
    width: 100%;
    margin-top: 30px;
  }

  .footer__bottom {
    height: 150px;
  }

  .footer__bottom-container {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__menu-header {
    margin-bottom: 21px;
  }

  .footer__menu-link {
    line-height: 15px;
  }

  .footer__cards {
    padding-bottom: 26px;
  }

  .footer__bottom-left {
    margin-right: 66px;
    margin-bottom: 22px;
  }

  .footer__logo {
    width: 81px;
  }

  .footer__bottom-container {
    justify-content: flex-start;
    margin-bottom: 21px;
  }

  .footer__policy {
    margin-bottom: 19px;
  }

  .footer__adwin-img {
    margin-left: 10px;
  }

  /*end footer*/

  .discount__top,
  .discount__bottom {
    font-size: 22px;
    text-align: center;
  }

  .discount__bottom {
    font-size: 22px;
  }

  .discount__content {
    max-width: 511px;
  }

  .banner-sale {
    right: 10px;
    top: 36px;
    width: 478px;
  }

  .cat-banner__container {
    max-width: 300px;
  }

  .goods .main-specials__list {
    justify-content: space-between;
    max-width: 322px;
    margin: 0 auto;
  }

  .goods {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .special-banner {
    margin-bottom: 30px;
  }

  .goods .main-specials__item {
    width: 160px;
    margin-left: 0;
    margin-bottom: 2px;
  }

  .goods__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .goods .main-specials__list {
    margin-left: -11px;
    margin-right: -11px;
  }

  .goods.cat1-goods {
    padding-top: 13px;
  }

  .filter {
    display: none;
  }

  .filter__btn {
    display: flex;
  }

  .sort {
    display: none;
  }

  .banner-sale {
    right: 10px;
    top: 36px;
    width: 478px;
  }

  .subcat-banner__container {
    max-width: 300px;
  }

  .subcat-banner {
    margin-bottom: 12px;
  }

  .pagination {
    padding-top: 48px;
  }

  .cat2-goods__container {
    flex-direction: column;
    max-width: 300px;
  }

  .cat2-goods__list {
    justify-content: space-between;
    margin-left: -11px;
    margin-right: -11px;
    width: 322px;
  }

  .cat2-goods__item {
    width: 160px;
    margin-right: 0px;
    margin-bottom: 2px;
  }

  .cat2-goods {
    padding-top: 13px;
  }
}

@media (max-width: 700px) {
  .bottom-offers__list {
    width: 300px;
    max-width: 100%;
    flex-direction: column;
  }

  .bottom-offers__item {
    margin-bottom: 20px;
    margin-right: -10px;
    margin-left: -10px;
  }

  .bottom-offers {
    padding-bottom: 26px;
  }
}

@media (max-width: 660px) {
  .main-banner__container {
    padding-top: 63px;
    padding-bottom: 55px;
  }

  .main-banner__header {
    max-width: 322px;
    line-height: 30px;
    font-size: 30px;
    margin-bottom: 42px;
  }

  .main-banner__text {
    max-width: 213px;
    line-height: 20px;
  }

  .main-banner__link {
    margin-top: 162px;
  }

  .main-banner {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../img/main-banner.jpg);
  }

  .main-catalog__container {
    padding-top: 16px;
    padding-bottom: 58px;
  }

  .main-catalog__list-item {
    width: 300px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
  }

  .main-catalog__item-img {
    width: 100%;
  }

  .main-specials {
    padding-top: 53px;
    padding-bottom: 42px;
  }

  .main-specials__h1 {
    font-size: 20px;
    margin-bottom: 23px;
  }

  .main-specials__list {
    max-width: 300px;
  }

  .main-specials__item {
    margin-bottom: 16px;
  }

  .brands__item img {
    max-height: 49px;
    max-width: 144px;
  }

  .brands {
    padding-top: 107px;
  }

  .brands__list {
    max-width: 300px;
  }

  .why {
    padding-top: 58px;
    padding-bottom: 49px;
  }

  .why__text {
    max-width: 300px;
  }

  .why__item-text {
    font-size: 16px;
    margin-left: 17px;
  }

  .why__item-img {
    max-width: 52px;
    max-height: 50px;
  }

  .why__header {
    margin-bottom: 34px;
  }

  .why__item {
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/*# sourceMappingURL=maps/main.css.map */
